{% extends 'base.html' %}
{% block content %}
    <div class="form">
        <form action="{% url 'login' %}" method="post" autocomplete="off">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.username.label_tag }} </td>
                    <td>{{ form.username }} </td>
                </tr>
                <tr>
                    <td> {{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
                <tr>
                    <td><input type="submit" value="Login"></td>
                </tr>
            </table>
            {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
            {% endif %}
        </form>
    </div>
{% endblock %}